<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .style1 {
            background-color: #ccc;
        }
        .style2 {
            color: #666;
        }
        .style3 {
            text-transform: lowercase;
        }
    </style>
</head>
<body>
    <div id="app">
        <div :class="clsList">
            {{msg}}
        </div>
        <div v-if="displayed">
            {{msg}}
        </div>
        <div>
            {{compMsg}}
        </div>
        <div v-for="n in 10">
            {{n}}
        </div>
        <div v-for="(k,v,i) in obj">
            {{i}} - {{k}}:{{v}}
        </div>
        <form @submit.prevent>
            <input v-model="msg" type="text" />
            <input v-model.trim="msg" type="text" />
        </form>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    msg: "NATURAL",
                    clsList: ["style1","style2","style3"],
                    displayed: false,
                    obj: {
                        key1: "value1",
                        key2: "value2",
                        key3: "value3"
                    }
                }
            },
            computed: {
                compMsg(){
                    return this.displayed?"YES IT IS":"NO IT ISN'T"
                }
            },
        }).mount("#app");

    </script>
</body>
</html>